services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    environment:
      NODE_ENV: development
    volumes:
      - ./:/app:delegated
      - /app/node_modules
    command: npm run dev -- -H 0.0.0.0 -p 3000
